body {
	background-color: #fff;
	border-top: 8px solid #548DC4;
}

.no-line-break {
	white-space: nowrap;
}

.post-date {
	color: #999;
	font-style: italic;
}

.avatar-frame img {
	width: 100px;
	height: 100px;
}

.social-icons i {
	font-size: 2.5em;
	margin-right: 0.4em;
}
.social-icons a:hover{
	text-decoration: none;
}