@tailwind base;

@tailwind components;

@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,600,600i,700,700i;Ubuntu+Mono');

@import 'components/buttons';
@import 'components/content';
@import 'components/header';
@import 'components/posts';
@import 'components/projects';

@tailwind utilities;

@import '~highlight.js/styles/dracula.css';

@import 'utilities/animations';
@import 'utilities/text-shadow';
