#header .header-image {
    min-height: 600px;
}
#header .header-image.header-image-small {
    min-height: 125px;
}

@screen md {
    #header .header-image {
        min-height: 600px;
    }
}

@screen lg {
    #header .header-image {
        min-height: 750px;
    }
}

#header .content {
    a {
        @apply border-b border-dotted text-white font-bold;
    }
    a:hover {
        @apply text-gray-300;
    }
}
