/* Imports
---------------------------------------------------------*/

@import "../../assets/libraries/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

/* Fonts
---------------------------------------------------------*/

$fontSansSerif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontSerif: "Noto Serif", Georgia, Cambria, "Times New Roman", Times, serif;
$fontCode: "Source Code Pro", "Courier New", Courier, sans-serif;

/* General
---------------------------------------------------------*/

html,
body {
    height: 100%;
}

body {
    color: #333;
    font-family: $fontSansSerif;
    font-size: 2em;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $fontSansSerif;
    font-weight: 900;
}

a {
    color: #3498db;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
a:hover {
    color: #2980b9;
    text-decoration: none;
}

pre,
code {
    font-family: $fontCode;
}
pre {
    background-color: transparent;
    border: none;
    font-size: 0.6em;
    line-height: 1.8em;
    padding: 0;
}
@media (min-width: 768px) {
    pre {
        font-size: 0.85em;
    }
}
pre code {
    padding: 10px 15px;
}
code {
    border-radius: 0;
}
@media (min-width: 786px) {
    code {
        border-radius: 4px;
    }
}

blockquote p {
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.4em;
}

.btn-outline {
    background: transparent;
}

.btn {
    border-radius: 0;
}

/* Homepage
---------------------------------------------------------*/

.home-separator {
    background: #eaeaea;
    border: none;
    height: 1px;

    max-width: 500px;
}

/* Homepage - Header
---------------------------------------------------------*/

#header {
    background-color: #333;
    color: white;
    font-family: $fontSansSerif;
    padding: 25px 0;
    position: relative;
    text-align: center;
    height: 100%;
    min-height: 520px;

    h1, h2 {
        color: #eee;
    }

    .navigation {
        font-weight: 300;

        a { color: white; }
        a:hover { text-decoration: underline; }

        .separator {
            font-size: 0.75em;
        }
    }
}
@media (min-width: 768px) {
    #header .navigation {
        font-size: 0.8em;
    }
}

#page-header ul {
    font-weight: 300;
    position: relative;
    text-transform: uppercase;
    z-index: 10;
}
#page-header ul a {
    color: #ddd;
}
#page-header ul a:hover {
    text-decoration: none;
}
#header h1 {
    font-size: 2.4em;
    font-weight: 900;
    text-transform: uppercase;
}
#header h2 {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.3em;
    margin-bottom: 25px;
}
#header .next {
    color: rgba(220, 220, 220, 0.8);
    font-size: 3.5em;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
#header .next:hover {
    color: #fff;
    text-decoration: none;
}

@media (min-width: 992px) {
    #header {
        padding: 50px 0;
    }
    #header .next {
        position: absolute;
        bottom: 20px;
        margin-left: -20px;
    }
}

@media (min-height: 1000px) and (min-width: 992px) {
    #header {
        min-height: 1000px;
    }
}

#page-header {
    float: left;
    padding-top: 10px;
    padding-left: 10px;
}
#page-header a {
    color: #eee;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
#page-header a:hover {
    color: #777;
}
#page-header a i {
    font-size: 1.2em;
    margin-right: 10px;
}

/* Homepage - Posts
---------------------------------------------------------*/

body.home #content .excerpt {
    color: #333;
    display: block;
    margin-bottom: 40px;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
body.home #content .excerpt:hover {
    color: #7f8c8d;
    text-decoration: none;
}
body.home #content .excerpt .date {
    font-size: 0.9em;
    font-style: italic;
}
body.home #content .excerpt h3 {
    font-weight: 900;
    margin-top: 5px;
}
@media (min-width: 768px) {
    body.home #content .excerpt {
        margin-bottom: 75px;
    }
    body.home #content h2.title {
        margin-top: 50px;
    }
    body.home #content .excerpt h3 {
        font-size: 1.8em;
    }
}

.blog-btn {
    text-align: center;
}
.blog-btn .btn {
    border: 3px solid #2980B9;
    color: #2980B9;
    font-family: $fontSansSerif;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.blog-btn .btn:hover {
    background-color: #2980B9;
    color: white;
}
@media (min-width: 768px) {
    .blog-btn {
        margin-bottom: 50px;
    }
}

/* Homepage - About
---------------------------------------------------------*/

#about {
    padding: 25px 0;
    text-align: center;

    img {
        border: 4px solid #ccc;
    }

    h3 {
        font-size: 2.2em;
        margin-bottom: 25px;
    }
}
@media (min-width: 768px) {
    #about {
        padding: 50px 0;
    }
}

/* Blog
---------------------------------------------------------*/

#blog {
    padding: 0 15px;
}
#blog h3 {
    font-weight: normal;
    margin-bottom: 25px;
    text-align: center;
}
#blog .post {
    margin-bottom: 10px;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
#blog .post .date {
    font-family: $fontSansSerif;
}
@media (min-width: 768px) {
    #blog .post .date,
    #blog .post .title {
        float: left;
    }
    #blog .post .date {
        text-align: right;
        width: 20%;
    }
    #blog .post .title {
        padding-left: 2%;
        width: 78%;
    }
}

/* Content
---------------------------------------------------------*/

#content {
    line-height: 1.7em;
    padding: 20px 0;
    max-width: 768px;
    margin: 0 auto;
    word-wrap: break-word;
}
#content img {
    max-width: 100%;
    height: auto;
}
h1.title,
h2.title {
    font-family: $fontSerif;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}
@media (min-width: 768px) {
    h1.title,
    h2.title {
        font-size: 2.4em;
    }
}
#content .single p.info {
    font-style: italic;
    margin-bottom: 0;
}
@media (min-width: 768px) {
    #content .single h1 {
        font-size: 2.2em;
    }
}
#content .single h2 {
    margin-top: 50px;
}
#content .single h1,
#content .single h2,
#content .single h3,
#content .single h4,
#content .single h5,
#content .single h6,
#content .single p,
#content .single ul,
#content .single ol,
#content .single blockquote,
#disqus_thread {
    padding: 0 15px;
    margin-bottom: 25px;
}
#content .single ul,
#content .single ol {
    margin-left: 30px;
}
#content .single pre {
    margin-bottom: 25px;
}
#content .single pre code {
    padding: 15px 15px;
}

@media (min-width: 768px) {
    #content .single h1,
    #content .single h2,
    #content .single h3,
    #content .single h4,
    #content .single h5,
    #content .single h6,
    #content .single p,
    #content .single ul,
    #content .single ol,
    #content .single blockquote,
    #disqus_thread {
        padding: 0 20px;
    }
    #content .single pre code {
        padding: 15px 20px;
    }
}

/* Contact
---------------------------------------------------------*/

#contact {
    font-size: 3em;
    padding: 20px 0;
    text-align: center;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, .5);

    .inner-box {
        margin: 0 auto;
        width: auto;
        max-width: 500px;
    }

    a {
        color: white;
        text-shadow: none;
        -webkit-transition: text-shadow 0.2s ease-out;
        -moz-transition: text-shadow 0.2s ease-out;
        -o-transition: text-shadow 0.2s ease-out;
        transition: text-shadow 0.2s ease-out;
    }
    a:hover {
        text-shadow: 0 0 15px #000;
        -webkit-transition: text-shadow 0.2s ease;
        -moz-transition: text-shadow 0.2s ease;
        -o-transition: text-shadow 0.2s ease;
        transition: text-shadow 0.2s ease;
    }
}
@media (min-width: 768px) {
    #contact {
        padding: 50px 0;
    }
}

/* Footer
---------------------------------------------------------*/

#footer {
    color: #95a5a6;
    font-size: .7em;
    line-height: 1.6em;
    padding: 20px 0 8px 0;
    text-align: center;
}

/* Error Page
---------------------------------------------------------*/

#error {
    padding-top: 25px;
    text-align: center;

    .btn {
        margin-top: 25px;
    }
}
