/* General
---------------------------------------------------------*/

html,
body {
    height: 100%;
}

body {
    color: #333;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2em;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
}

a {
    color: #3498db;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
a:hover {
    color: #2980b9;
    text-decoration: none;
}

pre,
code {
    font-family: "Source Code Pro", "Courier New", Courier, sans-serif;
}
pre {
    background-color: none;
    border: none;
    font-size: 0.6em;
    line-height: 1.8em;
    padding: 0;
}
@media (min-width: 768px) {
    pre {
        font-size: 0.85em;
    }
}
pre code {
    padding: 10px 15px;
}
code {
    border-radius: 0;
}
@media (min-width: 786px) {
    code {
        border-radius: 4px;
    }
}

blockquote p {
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.4em;
}

/* Headers
---------------------------------------------------------*/

#header {
    background-color: #333;
    color: white;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 25px 0;
    position: relative;
    text-align: center;
    height: 100%;
    min-height: 520px;
}

#header ul,
#page-header ul {
    font-weight: 300;
    position: relative;
    text-transform: uppercase;
    z-index: 10;
}
#header ul li a {
    background-color: rgba(255,255,255,.20);
    color: white;
    display: block;
    margin-bottom: 10px;
    padding: 10px 0;
}
#page-header ul a {
    color: #ddd;
}
#header h1,
#header h2 {
    color: #eee;
}
#header h1 {
    font-size: 2.4em;
    font-weight: 900;
    text-transform: uppercase;
}
#header h2 {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.3em;
    margin-bottom: 25px;
}
#header .btn {
    background-color: #2ECC71;
    border: 0;
    font-size: 1em;
    margin-bottom: 35px;
    padding: 10px 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#header .btn:hover {
    background-color: #27AE60;
}
#header .next {
    color: rgba(220,220,220,0.5);
    font-size: 3.5em;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
#header .next:hover {
    color: rgba(235,235,235,0.75);
    text-decoration: none;
}

@media (min-width: 992px) {
    #header {
        padding: 50px 0;
    }
    #header ul {
        position: relative;
        margin-top: -130px;
    }
    #header ul li {
        display: inline-block;
        margin-right: 6%;
        width: 100px;
    }
    #header ul li.second {
        margin-right: 215px;
    }
    #header ul li.third {
        margin-left: 215px;
    }
    #header ul li:last-child {
        margin-right: 0;
    }
    #header ul li a {
        background-color: transparent;
        color: #ddd;
    }
    #header ul li a:hover {
        color: white;
        text-decoration: none;
    }
    #header .next {
        position: absolute;
        bottom: 20px;
        margin-left: -20px;
    }
}

@media (min-height: 1000px) and (min-width: 992px) {
    #header {
        min-height: 1000px;
    }
}

#page-header {
    float: left;
    padding-top: 10px;
    padding-left: 10px;
}
#page-header a {
    color: #eee;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
#page-header a:hover {
    color: #777;
}
#page-header a i {
    font-size: 1.2em;
    margin-right: 10px;
}

/* Homepage - Posts
---------------------------------------------------------*/

body.home #content .excerpt {
    color: #333;
    display: block;
    margin-bottom: 40px;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
body.home #content .excerpt:hover {
    color: #7f8c8d;
    text-decoration: none;
}
body.home #content .excerpt .date {
    font-size: 0.9em;
    font-style: italic;
}
body.home #content .excerpt h3 {
    font-weight: 900;
    margin-top: 5px;
}
@media (min-width: 768px) {
    body.home #content .excerpt {
        margin-bottom: 75px;
    }
    body.home #content h2.title {
        margin-top: 50px;
    }
    body.home #content .excerpt h3 {
        font-size: 1.8em;
    }
}

.blog-btn {
    text-align: center;
}
.blog-btn .btn {
    background-color: #95a5a6;
    border: none;
    color: white;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    padding: 10px 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.blog-btn .btn i {
    font-size: .8em;
}
.blog-btn .btn:hover {
    background-color: #bbb;
}
@media (min-width: 768px) {
    .blog-btn {
        margin-bottom: 50px;
    }
}

/* Blog
---------------------------------------------------------*/

#blog {
    padding: 0 15px;
}
#blog h3 {
    font-weight: normal;
    margin-bottom: 25px;
    text-align: center;
}
#blog .post {
    margin-bottom: 10px;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
#blog .post .date {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (min-width: 768px) {
    #blog .post .date,
    #blog .post .title {
        float: left;
    }
    #blog .post .date {
        text-align: right;
        width: 20%;
    }
    #blog .post .title {
        padding-left: 2%;
        width: 78%;
    }
}

/* Content
---------------------------------------------------------*/

#content {
    font-family: "Noto Serif", Georgia, Cambria, "Times New Roman", Times, serif;
    line-height: 1.7em;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 768px;
    margin: 0 auto;
    word-wrap: break-word;
}
#content img {
    max-width: 100%;
    height: auto;
}
h1.title,
h2.title {
    font-family: "Noto Serif", Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}
@media (min-width: 768px) {
    h1.title,
    h2.title {
        font-size: 2.4em;
    }
}
#content .single p.info {
    font-style: italic;
    margin-bottom: 0;
}
@media (min-width: 768px) {
    #content .single h1 {
        font-size: 2.2em;
    }
}
#content .single h2 {
    margin-top: 50px;
}
#content .single h1,
#content .single h2,
#content .single h3,
#content .single h4,
#content .single h5,
#content .single h6,
#content .single p,
#content .single ul,
#content .single ol,
#content .single blockquote,
#disqus_thread {
    padding: 0 15px;
    margin-bottom: 25px;
}
#content .single ul,
#content .single ol {
    margin-left: 30px;
}
#content .single pre {
    margin-bottom: 25px;
}
#content .single pre code {
    padding: 15px 15px;
}

@media (min-width: 768px) {
    #content .single h1,
    #content .single h2,
    #content .single h3,
    #content .single h4,
    #content .single h5,
    #content .single h6,
    #content .single p,
    #content .single ul,
    #content .single ol,
    #content .single blockquote,
    #disqus_thread {
        padding: 0 20px;
    }
    #content .single pre code {
        padding: 15px 20px;
    }
}

/* Work & About
---------------------------------------------------------*/

#work {
    padding-top: 20px;

    .item {
        padding: 20px 0;
    }
    .off {
        background-color: #ecf0f1;
    }
    .beatswitch .logo {
        padding-top: 20px;
    }
    .laravelio .logo {
        padding-top: 20px;
    }
}
@media (min-width: 768px) {
    #work {
        .beatswitch .logo {
            padding-top: 65px;
        }
        .laravelio .logo {
            padding-top: 65px;
        }
    }
}

#about {
    background-color: #2f3238;
    color: #ccc;
    padding: 20px 0;
}
#about .avatar,
#work .logo {
    text-align: center;
}
#work .logo img,
#about .avatar img {
    max-width: 50%;
}
#work h3,
#about h3 {
    font-size: 2.2em;
    margin-bottom: 25px;
    text-align: center;
}
#work p,
#about p {
    line-height: 1.4em;
    margin-bottom: 20px;
}
#about a {
    color: #ccc;
    border-bottom: 1px dotted #7f8c8d;
}
#about a:hover {
    color: white;
}
@media (min-width: 768px) {
    #work .item,
    #about {
        padding: 50px 0;
    }
}
@media (min-width: 992px) {
    #work .logo img,
    #about .avatar img {
        max-width: 100%;
    }
    #work h3,
    #about h3 {
        text-align: left;
    }
}

/* Contact
---------------------------------------------------------*/

#contact {
    font-size: 3em;
    padding: 20px 0;
    text-align: center;

    a { color: #95a5a6 }
    a:hover { color: #2f3238 }
}
@media (min-width: 768px) {
    #contact {
        padding: 50px 0;
    }
}

/* Footer
---------------------------------------------------------*/

#footer {
    background-color: #ecf0f1;
    color: #95a5a6;
    font-size: .8em;
    padding: 20px 0 8px 0;
    text-align: center;
}
@media (min-width: 768px) {
    #footer {
        text-align: left;

        .last-column {
            text-align: right;
        }
    }
}

/* Error Page
---------------------------------------------------------*/

#error {
    padding-top: 25px;
    text-align: center;

    .btn {
        margin-top: 25px;
    }
}

/* Admin
---------------------------------------------------------*/

.navbar {
    margin-bottom: 0;
}

.btn-create {
    margin-top: 20px;
}