/* General
---------------------------------------------------------*/

body {
    color: #333;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2em;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
}

a {
    color: #3498db;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
a:hover {
    color: #2980b9;
    text-decoration: none;
}

pre,
code {
	font-family: "source-code-pro", "Courier New", Courier, sans-serif;
}
pre {
    background-color: none;
    border: none;
    font-size: 0.6em;
    line-height: 1.8em;
    padding: 0;
}
@media (min-width: 768px) {
	pre {
    	font-size: 0.85em;
	}
}
pre code {
    padding: 10px 15px;
}
code {
    border-radius: 0;
}
@media (min-width: 786px) {
    code {
        border-radius: 4px;
    }
}

blockquote p {
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.4em;
}

/* Headers
---------------------------------------------------------*/

#header {
    background-color: #333;
	color: white;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 25px 0;
	text-align: center;
}

#header ul,
#page-header ul {
	font-weight: 300;
	position: relative;
	text-transform: uppercase;
	z-index: 10;
}
#header ul li a {
	background-color: rgba(255,255,255,.20);
	color: white;
	display: block;
	margin-bottom: 10px;
	padding: 10px 0;
}
#page-header ul a {
	color: #ddd;
}
#header h1,
#header h2 {
    color: #eee;
}
#header h1 {
    font-size: 2.4em;
    font-weight: 900;
	text-transform: uppercase;
}
#header h2 {
	font-size: 1.2em;
    font-weight: 300;
	line-height: 1.3em;
	margin-bottom: 25px;
}
#header .btn {
    background-color: #2ECC71;
    border: 0;
    font-size: 1em;
	margin-bottom: 35px;
    padding: 10px 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#header .btn:hover {
    background-color: #27AE60;
}
#header .next {
	color: rgba(220,220,220,0.5);
	font-size: 3.5em;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
#header .next:hover {
	color: rgba(235,235,235,0.75);
	text-decoration: none;
}

@media (min-width: 768px) {
	#header h2 {
		font-size: 1.5em;
	}
}

@media (min-width: 992px) {
	#header {
		min-height: 800px;
		padding: 150px 0;
	}
	#header .about {
		margin-top: -58px;
		position: relative;
		z-index: 1;
	}
	#header h1,
	#header h2 {
		margin-bottom: 50px;
	}
	#header ul {
		position: relative;
		margin-top: -270px;
	}
	#header ul li {
		display: inline-block;
		margin-right: 6%;
		width: 100px;
	}
	#header ul li.second {
		margin-right: 215px;
	}
	#header ul li.third {
		margin-left: 215px;
	}
	#header ul li:last-child {
		margin-right: 0;
	}
	#header ul li a {
		background-color: transparent;
		color: #ddd;
	}
	#header ul li a:hover {
		color: white;
		text-decoration: none;
	}
	#header .next {
		display: inline-block;
		position: relative;
		margin-top: 200px;
	}
}

#page-header {
    float: left;
    padding-top: 10px;
    padding-left: 10px; 
}
#page-header a {
    color: #eee;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
#page-header a:hover {
    color: #777;
}
#page-header a i {
    font-size: 1.2em;
    margin-right: 10px;
}

/* Homepage - Posts
---------------------------------------------------------*/

body.home #content .post {
    color: #333;
    display: block;
    margin-bottom: 40px;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
@media (min-width: 768px) {
    body.home #content .post {
        color: #ddd;
        margin-bottom: 75px;
    }
}
body.home #content .post:hover {
    color: #333;
    text-decoration: none;
}
body.home #content .post:hover h3 {
    color: #333;
}
body.home #content .post .post-date {
    font-size: 0.9em;
    font-style: italic;
}
body.home #content .post h3 {
    font-weight: 900;
    margin-top: 5px;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
@media (min-width: 768px) {
    body.home #content h2.title {
        margin-top: 50px;
    }
    body.home #content .post h3 {
        color: #ccc;
        font-size: 1.8em;
    }
}

.archive-btn {
    text-align: center;
}
.archive-btn .btn {
    background-color: #95a5a6;
    border: none;
    color: white;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    padding: 10px 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.archive-btn .btn i {
    font-size: .8em;
}
.archive-btn .btn:hover {
    background-color: #bbb;
}
@media (min-width: 768px) {
    .archive-btn {
        margin-bottom: 50px;
    }
    .archive-btn .btn {
        background-color: #eee;
    }
}

/* Archive
---------------------------------------------------------*/

#archive {
    padding: 0 15px;
}
#archive h3 {
    font-weight: normal;
    margin-bottom: 25px;
    text-align: center;
}
#archive .item {
    margin-bottom: 10px;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
#archive .item:hover {
    color: #333;
}
#archive .item .item-date {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (min-width: 786px) {
    #archive .item {
        color: #ddd;
    }
    #archive .item .item-date,
    #archive .item .item-title {
        float: left;
    }
    #archive .item .item-date {
        text-align: right;
        width: 20%;
    }
    #archive .item .item-title {
        padding-left: 2%;
        width: 78%;
    }
}

/* Content
---------------------------------------------------------*/

#content {
    font-family: "ff-tisa-web-pro", Georgia, Cambria, "Times New Roman" ,Times, serif;
    line-height: 1.6em;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 768px;
    margin: 0 auto;
    word-wrap: break-word;
}
h1.title,
h2.title {
    font-family: "ff-tisa-web-pro", Georgia, Cambria, "Times New Roman" ,Times, serif;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}
@media (min-width: 768px) {
    h1.title,
    h2.title {
        font-size: 2.4em;
    }
}
#content .single-post p.post-info {
    font-style: italic;
    margin-bottom: 0;
}
@media (min-width: 768px) {
    #content .single-post h1 {
        font-size: 2.2em;
    }
}
#content .single-post h2 {
    margin-top: 50px;
}
#content .single-post h1,
#content .single-post h2,
#content .single-post h3,
#content .single-post h4,
#content .single-post h5,
#content .single-post h6,
#content .single-post p,
#content .single-post ul,
#content .single-post ol,
#content .single-post blockquote,
#disqus_thread {
    padding: 0 15px;
    margin-bottom: 25px;
}
#content .single-post ul,
#content .single-post ol {
    margin-left: 30px;
}
#content .single-post pre {
    margin-bottom: 25px;
}
#content .single-post pre code {
    padding: 15px 15px;
}

@media (min-width: 768px) {
    #content .single-post h1,
    #content .single-post h2,
    #content .single-post h3,
    #content .single-post h4,
    #content .single-post h5,
    #content .single-post h6,
    #content .single-post p,
    #content .single-post ul,
    #content .single-post ol,
    #content .single-post blockquote,
    #disqus_thread {
        padding: 0 20px;
    }
    #content .single-post pre code {
        padding: 15px 20px;
    }
}

/* Work & About
---------------------------------------------------------*/

#work .item {
    padding: 20px 0;
}
#work .off {
    background-color: #ecf0f1;
}

#about {
    background-color: #2f3238;
    color: #ccc;
    padding: 20px 0;
}
#about .avatar,
#work .logo {
    text-align: center;
}
#work .logo img,
#about .avatar img {
    max-width: 50%;
}
#work h3,
#about h3 {
    font-size: 2.2em;
    margin-bottom: 25px;
    text-align: center;
}
#work p,
#about p {
    line-height: 1.4em;
    margin-bottom: 20px;
}
#about a {
    color: #ccc;
    border-bottom: 1px dotted #7f8c8d;
}
#about a:hover {
    color: white;
}
@media (min-width: 768px) {
    #work .item,
    #about {
        padding: 50px 0;
    }
}
@media (min-width: 992px) {
    #work .logo img,
    #about .avatar img {
        max-width: 100%;
    }
    #work h3,
    #about h3 {
        text-align: left;
    }
}

/* Contact
---------------------------------------------------------*/

#contact {
    font-size: 3em;
    padding: 20px 0;
    text-align: center;
}
#contact a {
    color: #95a5a6;
}
#contact a:hover {
    color: #2f3238;
}
@media (min-width: 768px) {
    #contact {
        padding: 50px 0;
    }
}

/* Footer
---------------------------------------------------------*/

#footer {
    background-color: #ecf0f1;
    color: #95a5a6;
    font-size: .8em;
    padding: 20px 0 8px 0;
    text-align: center;
}
@media (min-width: 768px) {
    #footer {
        text-align: left;
    }
    #footer .last-column {
        text-align: right;
    }
}

/* Admin
---------------------------------------------------------*/

.navbar {
    margin-bottom: 0;
}

.btn-create {
	margin-top: 20px;
}