/* Imports
---------------------------------------------------------*/

@import "../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../../node_modules/font-awesome/scss/font-awesome.scss";

/* Fonts
---------------------------------------------------------*/

$fontSansSerif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontCode: "Source Code Pro", "Courier New", Courier, sans-serif;

/* General
---------------------------------------------------------*/

html,
body {
    height: 100%;
}

body {
    color: #333;
    font-family: $fontSansSerif;
    font-size: 2em;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $fontSansSerif;
    font-weight: 900;
}

a {
    color: #3498db;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
a:hover {
    color: #2980b9;
    text-decoration: none;
}
a:-webkit-any-link,
a:-moz-any-link,
a:any-link {
    text-decoration: none;
}

pre,
code {
    font-family: $fontCode;
}
pre {
    background-color: transparent;
    border-radius: 0;
    border: none;
    font-size: 0.6em;
    line-height: 1.8em;
    padding: 0;
}
pre code {
    padding: 10px 15px;
}
@media (min-width: 768px) {
    pre {
        border-radius: 4px;
        font-size: 0.85em;
    }
}

blockquote p {
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.4em;
}

.btn {
    border-radius: 0;
}

.btn-outline {
    background: transparent;
    border: 3px solid #2980B9;
    color: #2980B9;
    font-family: $fontSansSerif;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btn-outline:hover {
    background-color: #2980B9;
    border: 3px solid #2980B9;
    color: white;
}

.center {
    text-align: center;
}

.separator {
    background: #eaeaea;
    border: none;
    height: 1px;
    width: 75%;
    max-width: 500px;
}

/* Homepage - Header
---------------------------------------------------------*/

#header {
    background-color: #333;
    color: white;
    font-family: $fontSansSerif;
    margin-bottom: 25px;
    padding: 25px 0;
    position: relative;
    text-align: center;
    height: 100%;
    min-height: 520px;

    h1 {
        color: #eee;
        font-size: 2.4em;
        font-weight: 900;
        text-transform: uppercase;
    }
    h2 {
        color: #eee;
        font-size: 1.2em;
        font-weight: 300;
        line-height: 1.3em;
        margin-bottom: 25px;
    }

    .navigation {
        font-weight: 300;
        font-size: 0.8em;

        a { color: white; }
        a:hover { text-decoration: underline; }
    }

    .next {
        color: rgba(220, 220, 220, 0.9);
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;
        font-size: 2.2em;
        position: absolute;
        bottom: 20px;
        margin-left: -20px;
    }
    .next:hover {
        color: #fff;
        text-decoration: none;
    }
}
@media (min-width: 1025px) and (min-height: 800px) {
    #header {
        padding: 50px 0;

        h1 { font-size: 3.2em }
        h2 { font-size: 1.8em }
        .navigation { font-size: 1em }
    }
}
@media (min-height: 1000px) and (min-width: 992px) {
    #header {
        min-height: 1000px;
    }
}

/* Page Header
---------------------------------------------------------*/
#page-header {
    color: white;
    height: 100%;
    margin-bottom: 20px;
    max-height: 350px;
    min-height: 200px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 70%);

    .navigation {
        padding-top: 10px;
    }

    a {
        color: white;
    }
    a:hover {
        text-decoration: none;
    }

    h1 {
        margin-top: 15px;

        a {
            font-size: .6em;
        }
    }

    .inner {
        height: 100%;
        margin: 0 auto;
        max-width: 768px;
        padding: 0 20px;
        position: relative;

        .meta {
            position: absolute;
            bottom: 20px;
            max-width: 100%;
            padding-right: 20px;
        }
    }
}

// #page-header ul {
//     font-weight: 300;
//     position: relative;
//     text-transform: uppercase;
//     z-index: 10;
// }
// #page-header ul a {
//     color: #ddd;
// }
// #page-header ul a:hover {
//     text-decoration: none;
// }
//
// #page-header {
//     float: left;
//     padding-top: 10px;
//     padding-left: 10px;
// }
// #page-header a {
//     color: #eee;
//     -webkit-transition: color 0.3s ease;
//     -moz-transition: color 0.3s ease;
//     -o-transition: color 0.3s ease;
//     transition: color 0.3s ease;
// }
// #page-header a:hover {
//     color: #777;
// }
// #page-header a i {
//     font-size: 1.2em;
//     margin-right: 10px;
// }

/* Homepage - About
---------------------------------------------------------*/

#about {
    padding: 25px 15px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;

    img {
        border: 4px solid #ccc;
    }

    h3 {
        font-size: 2.2em;
        margin-bottom: 25px;
    }
}
@media (min-width: 768px) {
    #about {
        padding: 50px 15px;
    }
}

/* Homepage - Posts
---------------------------------------------------------*/

#recent-posts {
    padding: 25px 15px;
    max-width: 768px;
    margin: 0 auto;
}

#recent-posts .excerpt {
    color: #333;
    display: block;
    line-height: 1.7em;
    margin-bottom: 40px;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
#recent-posts .excerpt:hover {
    color: #7f8c8d;
    text-decoration: none;
}
#recent-posts .excerpt .date {
    font-size: 0.9em;
    line-height: 1.1em;
    font-style: italic;
}
#recent-posts .excerpt h3 {
    font-weight: 900;
    line-height: 1.4em;
    margin-top: 5px;
}
@media (min-width: 768px) {
    #recent-posts {
        padding: 50px 15px;
    }
    #recent-posts .excerpt {
        margin-bottom: 60px;
    }
    #recent-posts h2.title {
        margin-top: 50px;
    }
    #recent-posts .excerpt h3 {
        font-size: 1.8em;
    }
}

.read-more-btn {
    text-align: center;
}

/* Blog
---------------------------------------------------------*/

#blog {
    padding: 0 15px;
}
#blog h3 {
    font-weight: normal;
    margin-bottom: 25px;
    text-align: center;
}
#blog .post {
    margin-bottom: 10px;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
}
#blog .post .date {
    font-family: $fontSansSerif;
}
@media (min-width: 768px) {
    #blog .post .date,
    #blog .post .title {
        float: left;
    }
    #blog .post .date {
        text-align: right;
        width: 25%;
    }
    #blog .post .title {
        padding-left: 2%;
        width: 73%;
    }
}

/* Content
---------------------------------------------------------*/

#content {
    line-height: 1.7em;
    max-width: 768px;
    margin: 0 auto;
    word-wrap: break-word;
}
#content img {
    max-width: 100%;
    height: auto;
}
h1.title,
h2.title {
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}
@media (min-width: 768px) {
    h1.title,
    h2.title {
        font-size: 2.4em;
    }
}
#content .single p.info {
    font-style: italic;
    margin-bottom: 0;
}
@media (min-width: 768px) {
    #content .single h1 {
        font-size: 2.2em;
    }
}
#content .single h1 {
    margin-top: 0;
}
#content .single h2 {
    margin-top: 50px;
}
#content .single h1,
#content .single h2,
#content .single h3,
#content .single h4,
#content .single h5,
#content .single h6,
#content .single p,
#content .single ul,
#content .single ol,
#content .single img,
#content .single blockquote,
#content .single div.twitter-quote,
#disqus_thread {
    padding: 0 15px;
    margin-bottom: 25px;
}
#content .single ul,
#content .single ol {
    margin-left: 30px;
}
#content .single pre {
    margin-bottom: 25px;
}
#content .single pre code {
    padding: 15px 15px;
}

@media (min-width: 768px) {
    #content {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #content .single h1,
    #content .single h2,
    #content .single h3,
    #content .single h4,
    #content .single h5,
    #content .single h6,
    #content .single p,
    #content .single ul,
    #content .single ol,
    #content .single img,
    #content .single blockquote,
    #disqus_thread {
        padding: 0 20px;
    }
    #content .single pre code {
        padding: 15px 20px;
    }
}

/* Footer
---------------------------------------------------------*/

#footer {
    color: #95a5a6;
    font-size: .7em;
    line-height: 1.6em;
    padding: 8px 15px;
    text-align: center;

    hr {
        width: 75%;
    }
}

.social-media {
    font-size: 2em;
    word-spacing: 25px;

    a {
        color: #ccc;
    }
}

/* Error Page
---------------------------------------------------------*/

#error-page {
    padding: 25px 0;
    text-align: center;

    .btn {
        margin-top: 15px;
    }
}
